<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment :: head"></head>
<body>

<div class="container" th:include="fragment :: header"></div>


<div class="container">
    <h1>Best bars:</h1>

    <div class="btn-group">
        <button id="buttonText" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            Sort by <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li id="distance"><a href="#">Distance</a></li>
            <li id="price"><a href="#">Price</a></li>
            <li id="best"><a href="#">Best</a></li>
        </ul>
    </div>


    <table class="table table-condensed table-hover">
        <thead>
        <tr>
            <th>Bar</th>
            <th>Distance</th>
            <th>l/€</th>
        </tr>
        </thead>
        <tbody id="bars">
        <tr>
            <td>Breezer</td>
            <td>1km</td>
            <td>45</td>
        </tr>
        </tbody>
    </table>


</div>

<footer class="footer" th:include="fragment :: footer"></footer>


<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="js/barRest.js"></script>

</body>
</html>