<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="fragment :: head"></div>
    <link href="css/signin.css" rel="stylesheet"/>

</head>
<body>

<div class="container" th:include="fragment :: header"></div>

<div class="container">

    <form class="form-signin">
        <h2 class="form-signin-heading">Please enter your details below:</h2>
        <label for="inputUsername" class="sr-only">Username</label>
        <input type="username" id="inputUsername" class="form-control" placeholder="Username" required="" autofocus=""/>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required=""/>
        <div class="checkbox">
            <!--<label>-->
            <!--<input type="checkbox" value="remember-me"> Remember me-->
            <!--</label>-->
        </div>
        <button class="btn btn-lg btn-secondary btn-block" type="submit">Sign up</button>
    </form>

    <p>Already a member? <a th:ref="${/signin}">Sign in here!</a></p>

</div>

<footer class="footer" th:include="fragment :: footer"></footer>


<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="js/barRest.js"></script>

</body>
</html>